div.body {
	width: 30%;
	margin: auto;
}

button {
	color: white;
	background-color: Turquoise;
	font-weight: bold;
	position: fixed;
	float: left;
	top:25%;
	left: 5%;
}

div.lightbox{
	background-color: rgba(0,0,0,0.8);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	bottom:0;
	position: absolute;
}
div.lbText {
	margin: auto;
}
h3 {
	color: salmon;
	background-color: DimGray;
	font-weight: bold;
	border: 1px solid WhiteSmoke;
	border-radius: 10px;
	box-shadow: 5px 5px 15px;
	width: 40%;
	margin: auto;
}